 
 /* ### ---  _layout.scss ==================================================================== */
 
 
 body {
    &::before,
    &::after {
        display: none !important;
        height: 0 !important;
    }
    @include breakpoint(tablet-sm-layout) {
        overflow-x: hidden;
    }
}

.site { margin: 0; }

//
// Header
// =================================
.site-header-wrapper {
    position: relative;
}

.site-header {
    /*  background-color: $blue-brand; */
    /*height: 70px; */
    padding: 0;
    width: 100%;
    z-index: 302;
    
    img {
        height: 50px;
        transition: all 0.4s ease;
        max-width: 100%;
        width: auto;
    }
    
    &.spacer {
        position: relative;
        bottom: 0;
        transition: height 0.4s ease;
        box-shadow: none;
        z-index: 300;
        
        .site-header-main > *,
        .site-header-main::before,
        .site-header-main::after {
            visibility: hidden;
        }
    }
    
    &.sticky {
        position: absolute;
        bottom: 0;
    }
    
    &.sticky.detached {
        /* Detached header behaviour */
        position: fixed;
        top: 0;
        bottom: auto;
        z-index: 301;
        transform: translateY(0);
        
        &.offscreen {
            transform: translateY(-105%);
        }
    }
    
    &.sticky:not(.attached) {
        transition: transform 0.4s ease;
    }
    
    &.sticky.detached {
        /* Detached header contents */
        height: 40px;
        img {
            height: 30px;
        }
        .site-branding {
            margin-bottom: 2px;
        }
        .menu-toggle {
            top: -3px;
        }
    }
    @include breakpoint (tablet-sm-layout) {
        height: 50px;
        margin-top: 0;
    }
    @include breakpoint (desktop-md-layout) {
        box-shadow: 0px 0 4px 0 rgba($black, 0.8);
    }
    @include breakpoint (desktop-sm-layout) {
        background-image: none;
        /*    background-color: $blue-brand; */
        box-shadow: none;
        height: 130px;
        
        img {
            height: 57px;
        }
        
        &.sticky.detached {
            /* Detached header contents */
            height: 60px;
            img {
                height: 40px;
                width: auto;
            }
            .site-branding {
                margin-bottom: 12px;
            }
        }
    }
}

body.admin-bar .site-header.sticky {
    margin-top: 0px;
    
    @include breakpoint (tablet-sm-layout) {
        margin-top: 46px;
    }
    
    @include breakpoint (tablet-md-layout) {
        margin-top: 32px;
    }
}
.site-menu-wrapper {
    .main-navigation {
        margin: 0 -20px;
        .menu-item {
            &.menu-item-has-children {
                .sub-menu {
                    background-color: $white;
                    list-style-type: none;
                    .menu-item {
                        margin-bottom: 0;
                        list-style: none;
                        a {
                            color: $black;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}
.archive-list {
    .post {
        .teaser-post-image {
            text-align: center;
        }
        .entry-content {
            margin-top: 2rem;
            width: 100% !important;
            float: none !important;
            text-align: center;
        }
    }
}
.site-header-main {
    /*
    @include content-constrained();
    height: 100%;
    justify-content: space-between;
    position: relative;
    */
    
    
    @include breakpoint (max-width $desktop-sm-layout - 0.001em) {
        display: block;
        margin-left: 0;
        margin-right: 0;
        
        > .site-branding { margin-left: 20px; }
        > .menu-toggle { margin-right: 20px; }
    }
    
    @include breakpoint (desktop-sm-layout) {
        background-image: linear-gradient(90deg, $blue-brand, $blue-brand, $blue-brand);
        background-size: 100% 130px; /* 130px: maximum height of site-header */
        background-position-y: bottom;
        
        &::before,
        &::after {
            bottom: 0;
            content: "";
            left: 1%;
            position: absolute;
            right: 1%;
            top: 50%;
            z-index: -1;
        }
        
        &::after {
            left: auto;
            right: 10px;
            transform: skew(8deg) rotate(3deg);
        }
        
        &, .wp-custom-logo & {
            align-items: flex-end;
            //height: 130px;
            justify-content: space-between;
            //max-height: 100%;
        }
    }
}

.site-header {
    .site-header-menu {
        transition: margin 0.4s ease;
        align-self: flex-start;
        margin: 0 0 20px 0;
        
        @include breakpoint (desktop-sm-layout) {
            margin-bottom: 24px;
            width: 60%;
        }
        
        @include breakpoint (desktop-md-layout) {
            width: 100%;
        }
    }
    
    &.detached .site-header-menu {
        align-self: center;
        margin: 0;
    }
}
.entry-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .entry-title {
        font-size: $fz-h1;
        line-height: 1.1em;
    }
}
.single {
    .wrapper-main {
        .post {
            .entry-content {
                float: none;
                width: 100%;
            }
        }
    }
}
.entry-main-content {
    .entry-date-container {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-top: 10px solid $grey-medium;
        border-bottom: 1px solid $grey-medium;
        .entry-date {
            @include date-format($grey-darker, transparent);
        }
    }
}
.entry-meta {
    margin-top: 1.5rem;
    .item-meta {
        display: flex;
        margin: .8rem 0;
        justify-content: space-between;
        align-items: center;
        strong {
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        &.align-center {
            justify-content: center;
        }
    }
}
.site-branding {
    margin: 0;
    overflow: hidden;
    max-height: 100%;
    
    @include breakpoint (max-width $desktop-sm-layout - 0.001em) {
        
        .cc-site-logo-link {
            display: inline-block;
            margin-top: 18px;
            
            .site-header.sticky & { margin-top: 9px; }
            .site-header.sticky.detached & { margin-top: 3px; }
        }
    }
    
    @include breakpoint (desktop-sm-layout) {
        margin: 0 0 20px 0;
        transition: all 0.4s ease;
    }
}

//
// Main Content
// =================================
.entry-header,
.post-thumbnail,
.entry-content,
.entry-summary,
.entry-footer,
.comments-area,
.image-navigation,
.post-navigation,
.page-header,
.page-content,
.content-bottom-widgets {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.site-inner {
    max-width: none;
}

.site-content {     
    margin-top: 35px;
    padding: 0; 
}

.content-area {
    float: none;
    margin-right: 0;
    width: auto;
    
    body:not(.home) & {
        @include content-constrained();
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        
        @include breakpoint (desktop-sm-layout) {
            display: flex;
            justify-content: space-between;
        }
    }
}

.wrapper-main {
    
    @include breakpoint (desktop-sm-layout) {
        flex: 1 0 70%;
    }
}

//
// Sidebar
// =================================
.wrapper-sidebar {
    
    @include breakpoint (desktop-sm-layout) {
        flex: 0 0 30%;
        padding-left: $gutter * 2;
    }
}
.sidebar {
    float: none;
    margin-left: 0;
    padding: 0;
    width: auto;
}

//
// Footer
// =================================
.site-footer-wrapper {
    position: relative;
}

.site-footer {
    background: $grey-darker;
    box-shadow: 0px -2px 4px 0px rgba($black, 0.6);
    color: $grey-light;
    font-size: px2rem($fz-xxsm);
    line-height: 1.3em;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 202;
    
    &.spacer {
        visibility: hidden;
        position: relative;
        bottom: 0;
        z-index: 200;
    }
    
    &.sticky {
        position: absolute;
        bottom: 0;
    }
    
    &.sticky.detached {
        /* Detached footer behaviour */
        position: fixed;
        bottom: 0;
        z-index: 201;
        transform: translateY(0);
        
        &.offscreen {
            transform: translateY(105%);
        }
    }
    
    &.sticky:not(.attached) {
        transition: transform 0.4s ease;
    }
}

.cc-footer {
    $column-space: $gutter / 2;
    
    @include content-constrained(); 
    padding: 35px 15px 25px 15px;
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    @include breakpoint (tablet-sm-layout) {
        display: block;
        padding: 35px 0 25px 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .column {
            display: block;
            width: 100% !important;
            text-align: center;
            &.cc-footer-license {
                .license-icons {
                    text-align: center !important;
                }
            }
        }
    }
    
    @include breakpoint (desktop-md-layout) {
    }
    
    .column {
        margin: 5px 0;
        
        @include breakpoint (tablet-sm-layout) {
            width: 33.333%;
            margin: 0;
            padding-left: $column-space;
            padding-right: $column-space;
            padding-bottom: 5px;
        }
        
        @include breakpoint (desktop-md-layout) {
            width: 25%;
        }
    }
    
    .column.cc-footer-main {
        min-width: 280px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        order: 1;
        
        .cc-footer-logo {
            display: none;
            flex-grow: 1;
        }
        
        .cc-footer-links {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            
            .menu-footer-links-container {
                flex-grow: 1;
                text-align: left;
                padding-right: 5px;
                margin: 5px 0;
            }
            
            .cc-footer-links-search {
                flex-grow: 1;
            }
            
            .search-form.expanded {
                .search-field {
                    min-width: 160px;
                }
            }
        }
        
        @include breakpoint (desktop-md-layout) {
            order: 0;
            padding-bottom: 0;
            
            .cc-footer-logo {
                display: block;
            }
            .cc-footer-contact {
                display:block;
            }
            .cc-footer-links {
                display: block;
                
                .menu-footer-links-container {
                    text-align: center;
                    margin: 0 0 10px 0;
                }
                
                .cc-footer-links-search {
                    padding: 0 10px;
                    min-width: 0;
                    margin-left: 0;
                    max-width: none;
                }
                
                .search-form.expanded {
                    .search-field {
                        min-width: none;
                    }
                }
            }
        }
        
        @include breakpoint (desktop-md-layout) {
            .cc-footer-links {
                .menu-footer-links-container {
                    text-align: left;
                    margin: 0;
                }
                
                .cc-footer-links-search {
                    display: none;
                }
            }
        }
    }
    
    .column.cc-footer-contact {
        display: block;
        
        address {
            display: block;
            @include font-weight($fw-semi-bold);
            font-style: normal;
            margin-bottom: 5px;
        }
        
        ul {
            display: block;
            margin: 0;
            padding: 0;
            
            li {
                margin: 0;
                padding: 0;
                list-style: none;
                list-style-image: none;
            }
            
            a {
                @include link-colors($blue-dark, $white, $blue-dark, $white);
                text-decoration: none;
            }
        }
        
        @include breakpoint (tablet-sm-layout) {
            display: block;
        }
    }
    
    .column.cc-footer-license {
        display: flex;
        flex-direction: column;
        
        .license-icons {
            font-size: px2rem(30);
            margin-top: 5px;
            margin-right: 10px;
            margin-bottom: 0.25em;
            text-align: left;
            white-space: nowrap;
            flex-shrink: 0;
            
            a {
                @include link-colors($white, $blue-dark, $white, $blue-dark);
                text-decoration: none;
                
                .cc-icon-cc:before,
                .cc-icon-cc-by:before {
                    margin-left: 0;
                }
            }
        }
        
        .icons-credit, .website-credit {
            display: inline-block;
        }
        
        body:not(.home) & .website-credit {
            display: none;
        }
        
        @include breakpoint (tablet-sm-layout) {
            display: block;
            
            .license-icons {
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0.25em;
                text-align: left;
            }
        }
    }
    
    .column.cc-footer-search {
        display: none;
        
        @include breakpoint (desktop-md-layout) {
            display: block;
            width: 20%;
            
            .search-form {
                margin-top: 4px;
            }
        }
    }
    
    /* Remove extra margins at edges for different configurations */
    
    .column.cc-footer-main {
        margin-bottom: 0;
    }
    
    .column.cc-footer-license {
        margin-top: 0;
    }
    
    @include breakpoint (tablet-sm-layout) {
        .column.cc-footer-main {
            padding-left: 0;
        }
        
        .column.cc-footer-license {
            padding-right: 0;
        }
    }
    
    @include breakpoint (desktop-md-layout) {
        .column.cc-footer-main {
            padding-left: 0;
        }
        
        .column.cc-footer-license {
            padding-right: $column-space;
        }
        
        .column.cc-footer-search {
            padding-right: 0;
        }
    }
}

.cc-footer {
    a {
        @include link-colors($grey-light, $white, $grey-light, $white);
        text-decoration: underline;
    }
    
    h6 {
        color: white;
        margin-bottom: 5px;
        
        a {
            color: white;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }
    
    p { margin-bottom: 0.25em; }
    
    aside {
        font-size: px2rem(12);
        line-height: $line-height-base;
    }
}

//
// Underline
.underline {
    text-decoration: underline;
}

.single {
    .entry-summary {
        @include visually-hidden();
    }
}
.comments-area {
    @include visually-hidden();  
}

@include breakpoint (desktop-sm-layout) {
    /* small fixes */
    .site-header {
        box-shadow: none;
    }
    .hero-video {
        width: 100%;
    }
}
@include breakpoint (tablet-sm-layout) {
    
}
//Block styles inside feature element
.home-feature {
    .wp-block-media-text__content {
        height: 100%;
    }
    h1,h2,h3,h4,h5,h6 {
        margin: 2rem 0;
    }
    .wp-block-gallery {
        margin-left: 0;
    }
}
.wp-block-button {
    &.is-style-arrow {
        .wp-block-button__link {
            position: relative;
            border-radius: 0;
            &:after {
                content: "";
                position: absolute;
                right:-22px;
                top:0;
                width: 0; 
                height: 0; 
                border-top: 24px solid transparent;
                border-bottom: 24px solid transparent;
            }
            &.has-cc-green-background-color {
                &:after {
                    border-left: 22px solid $green-medium;
                }
            }
            &.has-cc-blue-background-color {
                &:after {
                    border-left: 22px solid $blue-medium;
                }
            }
            &.has-cc-red-background-color {
                &:after {
                    border-left: 22px solid $orange-medium;
                }
            }
            &.has-cc-yellow-background-color {
                &:after {
                    border-left: 22px solid $yellow-medium;
                }
            }
            &:hover {
                &.has-cc-green-background-color {
                    &:after {
                        border-left: 22px solid lighten($green-medium,8);
                    }
                }
                &.has-cc-blue-background-color {
                    &:after {
                        border-left: 22px solid lighten($blue-medium,8);
                    }
                }
                &.has-cc-red-background-color {
                    &:after {
                        border-left: 22px solid lighten($orange-medium,8);
                    }
                }
                &.has-cc-yellow-background-color {
                    &:after {
                        border-left: 22px solid lighten($yellow-medium,8);
                    }
                }
            }
        }
    }
    .wp-block-button__link {
        &.has-cc-green-background-color {
            background-color: $green-medium;
            color: $white;
            &:hover {
                background-color: lighten($green-medium,8);
            }
        }
        &.has-cc-blue-background-color {
            background-color: $blue-medium;
            color: $white;
            &:hover {
                background-color: lighten($blue-medium,8);
            }
        }
        &.has-cc-red-background-color {
            background-color: $orange-medium;
            color: $white;
            &:hover {
                background-color: lighten($orange-medium,8);
            }
        }
        &.has-cc-yellow-background-color {
            background-color: $yellow-medium;
            color: $white;
            &:hover {
                background-color: lighten($yellow-medium,8);
            }
        }
    }
}
//RESPONSIVENESS GUTENBERG BLOCKS
.wp-block-gallery {
    @include breakpoint(tablet-md-layout) {
        display: block;
        .blocks-gallery-item {
            width: 100%;
        }
    }
}
.wp-block-media-text {
    @include breakpoint(tablet-md-layout) {
        display: block;
    }
}

/* ### --- END _layout.scss ==================================================================== */
